# 0. Important Links

https://dev.to/chrisgreening/connecting-to-a-relational-database-using-sqlalchemy-and-python-1619

# 1. Libraries

In [1]:
from platform import python_version
python_version()

'3.7.6'

In [2]:
#!pip install psycopg2-binary
#!pip install requests_ntlm
#pip install PyMySQL

In [3]:
import os
from getpass import getpass  # Needed for secure password input.
from requests_ntlm import HttpNtlmAuth
import pandas as pd
import sqlalchemy
import pyodbc
import os
import pymysql
from pandas import ExcelWriter, ExcelFile
import glob
from sqlalchemy import types, create_engine
import logging
import sys
logging.basicConfig(stream=sys.stdout, level=logging.INFO)

# 2. Having the excel/csv ready

In [4]:
os.listdir()

['.ipynb_checkpoints', 'csv-file.csv', 'Excel to RDS Database.ipynb']

In [5]:
df = pd.read_csv("csv-file.csv")
df.head()

        Series  Rank
0         Dark     1
1  Steins Gate     2
2  Castlevania     3

# 3. RDS Connection

### 3.1 MySQL

Always use environmental variables to mask your creds

In [7]:
access_id = os.environ.get('IAM_ACCESS_ID')
secret_access_key = os.environ.get('IAM_SECRET_ACCESS_KEY')

In [44]:
db_instance_id = "db_instance_identifier"
endpoint = 'db-instance-identifier.c36l4nis6f83.ap-south-1.rds.amazonaws.com'
port = '3306'
database = "dbname"
dialect = "mysql"
driver = "pymysql"
username = "admin"
password = "admin123"
host = endpoint

In [45]:
url = dialect+"+"+driver+"://"+username+":"+password+"@"+host+":"+port+"/"+database
url

'mysql+pymysql://admin:admin123@db-instance-identifier.c36l4nis6f83.ap-south-1.rds.amazonaws.com:3306/dbname'

In [48]:
rds_engine = sqlalchemy.create_engine(url)
rds_engine

Engine(mysql+pymysql://admin:***@db-instance-identifier.c36l4nis6f83.ap-south-1.rds.amazonaws.com:3306/dbname)

In [49]:
#rds_connection = rds_engine.raw_connection()

In [50]:
#rds_cursor = rds_connection.cursor()

# 4. Excel/CSV to RDS

In [33]:
#df_br.to_sql(name='acoach_br_comm', con=rds_engine, index=False, if_exists='replace', chunksize=10000)

# 5. Close the connection

In [34]:
#rds_connection.commit()
#rds_connection.close()