# 1. Libraries

In [102]:
# get_ipython().system("pip install selenium")
# get_ipython().system("pip install python-dotenv")

In [103]:
# Selenium
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver import ActionChains # Right Click

# Beautiful Soup
from bs4 import BeautifulSoup

# Dataframe
import pandas as pd

# OS module to work with directories
import os

# For environmental variables
from dotenv import load_dotenv

# Time module
import time

# Datetime module
from datetime import datetime as dt

# Self created module
from calendar_conversion import *

# 2. Chromium setup

In [104]:
# !sudo apt-get update
# !sudo apt install chromium-browser -y
# !sudo apt install chromium-chromedriver

In [105]:
# chrome_options = Options()
# chrome_options.add_argument('--headless')
# chrome_options.add_argument('--no-sandbox')
# chrome_options.add_argument('--disable-dev-shm-usage')

In [106]:
url1 = "https://www.emirates.com/in/english/"

In [107]:
service = Service("chromedriver")
driver = webdriver.Chrome(service=service)
driver.get(url1)

# 3. Emirates Flight Page Webscraping

### 3.1 Accept Cookies

In [108]:
btn_cookie = driver.find_element(By.ID, "onetrust-accept-btn-handler")
btn_cookie.text

'Accept'

In [109]:
btn_cookie.click()

### 3.2 Enter Source and Destination

In [110]:
source = "Hyderabad (HYD)"
destination = "Frankfurt am Main (FRA)"

In [111]:
txt_source = driver.find_element(By.NAME, "Departure airport")
txt_source.clear()
txt_source.send_keys(source)

In [112]:
txt_dest = driver.find_element(By.NAME, "Arrival airport")
txt_dest.clear()
txt_dest.send_keys(destination)

In [113]:
btn_continue = driver.find_element(By.CLASS_NAME, "grid__item.medium--one-fifth.search-flight__continue")
btn_continue.text

'Continue'

In [114]:
btn_continue.click()

### 3.3 Select One-Way

In [115]:
lbl_one_way = driver.find_element(By.CLASS_NAME, "checkbox.one-way")
lbl_one_way.text

'One way'

In [116]:
lbl_one_way.click()

### 3.4 Select Date

In [117]:
from_day = "1"
from_month = "3"
from_year = "2024"

from_date = f"{from_day}/{from_month}/{from_year}"

print(f"Your journey date is {from_date}")

Your journey date is 1/3/2024

In [118]:
lbl_from_date = driver.find_element(By.CLASS_NAME, "ek-datepicker__column-title")
lbl_from_date.text

'May2023\nPrevious Month'

In [119]:
lbl_from_date_year = lbl_from_date.text.split("\n")[0][-4::]
lbl_from_date_year

'2023'

In [120]:
lbl_from_date_month = calendar_conversion[lbl_from_date.text.split("\n")[0][:-4:]]
lbl_from_date_month

5

In [121]:
while lbl_from_date_year < from_year:
    btn_next = driver.find_element(By.CLASS_NAME, "icon-arrow-right")
    btn_next.click()
    
    lbl_from_date_year = lbl_from_date.text.split("\n")[0][-4::]
    lbl_from_date_year

In [122]:
while int(lbl_from_date_month) != int(from_month):
    btn_next = driver.find_element(By.CLASS_NAME, "icon-arrow-right")
    btn_next.click()
    
    lbl_from_date_month = calendar_conversion[lbl_from_date.text.split("\n")[0][:-4:]]
    lbl_from_date_month

Now the required calendar is always on the left side

In [123]:
td_date_tag = driver.find_element(By.XPATH,f"//td[@data-date='{from_day}']")
td_date_tag.click()

### 3.5 Search Flights

In [124]:
btn_search_flights = driver.find_element(By.CLASS_NAME, "cta.cta--large.cta--primary.js-widget-submit ")
btn_search_flights.text

'Search flights'

In [125]:
btn_search_flights.click()

### 3.6.1 Get the left pane details of available flights

In [151]:
flight_dtls = driver.find_elements(By.CLASS_NAME, "ts-fip.RPA")
flight_dtls

[<selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="a25f5370-9813-4548-8103-2e38db0597c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="bf2b19cd-4946-4c7b-99e9-187d39816a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="cd57d17b-6d54-4d8a-adc9-6285633148ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="5cccad50-49ac-481a-bf25-111ac9b563c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="909747b5-0bd2-45c0-8e3b-566c071a205c")>]

In [152]:
df_flight_dtl = pd.DataFrame()

for flight_dtl in flight_dtls:
    flight_dtl_info = [flight_dtl.text.split("\n")]
    df_flight_dtl = pd.concat([df_flight_dtl, pd.DataFrame(flight_dtl_info)])
    
df_flight_dtl

,0,1,2,3,4,5,6,7,8,9,10,11
0,Flight option 1: Departing Rajiv Gandhi Airport,01,B777,EK527,A380,EK047,HYD,10:00,FRA,19:30,14 hrs 0 min,1 connection
0,Flight option 2: Departing Rajiv Gandhi Airport,02,B777,EK529,B777,EK043,HYD,21:20,FRA,07:35 +1,14 hrs 45 mins,1 connection
0,Flight option 3: Departing Rajiv Gandhi Airport,03,B777,EK525,A380,EK047,HYD,04:10,FRA,19:30,19 hrs 50 mins,1 connection
0,Flight option 4: Departing Rajiv Gandhi Airport,04,B777,EK527,B777,EK043,HYD,10:00,FRA,07:35 +1,26 hrs 5 mins,1 connection
0,Flight option 5: Departing Rajiv Gandhi Airport,05,B777,EK525,B777,EK043,HYD,04:10,FRA,07:35 +1,31 hrs 55 mins,1 connection

In [153]:
rename_cols = {
    1:"ID",
    2:"Airliner1",
    3:"Flight_Number1",
    4:"Airliner2",
    5:"Flight_Number2",
    6:"Source",
    7:"Departure_Time",
    8:"Destination",
    9:"Arrival_Time",
    10:"Total_Time",
    11:"Connections"
}

In [154]:
df_flight_dtl = df_flight_dtl.rename(columns=rename_cols)
df_flight_dtl

,0,ID,Airliner1,Flight_Number1,Airliner2,Flight_Number2,Source,Departure_Time,Destination,Arrival_Time,Total_Time,Connections
0,Flight option 1: Departing Rajiv Gandhi Airport,01,B777,EK527,A380,EK047,HYD,10:00,FRA,19:30,14 hrs 0 min,1 connection
0,Flight option 2: Departing Rajiv Gandhi Airport,02,B777,EK529,B777,EK043,HYD,21:20,FRA,07:35 +1,14 hrs 45 mins,1 connection
0,Flight option 3: Departing Rajiv Gandhi Airport,03,B777,EK525,A380,EK047,HYD,04:10,FRA,19:30,19 hrs 50 mins,1 connection
0,Flight option 4: Departing Rajiv Gandhi Airport,04,B777,EK527,B777,EK043,HYD,10:00,FRA,07:35 +1,26 hrs 5 mins,1 connection
0,Flight option 5: Departing Rajiv Gandhi Airport,05,B777,EK525,B777,EK043,HYD,04:10,FRA,07:35 +1,31 hrs 55 mins,1 connection

In [155]:
df_flight_dtl = df_flight_dtl.drop(0,axis=1)
df_flight_dtl

,ID,Airliner1,Flight_Number1,Airliner2,Flight_Number2,Source,Departure_Time,Destination,Arrival_Time,Total_Time,Connections
0,01,B777,EK527,A380,EK047,HYD,10:00,FRA,19:30,14 hrs 0 min,1 connection
0,02,B777,EK529,B777,EK043,HYD,21:20,FRA,07:35 +1,14 hrs 45 mins,1 connection
0,03,B777,EK525,A380,EK047,HYD,04:10,FRA,19:30,19 hrs 50 mins,1 connection
0,04,B777,EK527,B777,EK043,HYD,10:00,FRA,07:35 +1,26 hrs 5 mins,1 connection
0,05,B777,EK525,B777,EK043,HYD,04:10,FRA,07:35 +1,31 hrs 55 mins,1 connection

### 3.6.2 Get the right pane details of all available flights

In [131]:
flight_dtls = driver.find_elements(By.CLASS_NAME, "RPA.ts-fbr-flight-list-row__options")
flight_dtls

[<selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="3b724067-c2f0-4676-aab2-b8076e1860db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="2c8b04df-d0f9-4593-b3b5-5574576cf0e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="fbfb177e-a600-44dc-a98f-8b901f86ad8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="75ddf093-cb9a-4272-93c2-7e87c6873f6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8f44bbe83f3b6ef3e2ad0455fb5971c6", element="94331229-e20d-4e4a-96c7-40052a3d3d0b")>]

In [138]:
df_flight_dtl_cost = pd.DataFrame()

for flight_dtl in flight_dtls:
    
    info_dtl = flight_dtl.text.split("\n")
    
    for info in info_dtl:
        if info=="Lowest price":
            info_dtl.remove(info)
    df_flight_dtl_cost = pd.concat([df_flight_dtl_cost, pd.DataFrame(info_dtl).T])
    
df_flight_dtl_cost

,0,1,2,3,4,5,6,7,8,9,10,11
0,Economy,from INR,"53,995",,Business,from INR,"225,415",,First,from INR,"438,008",NaN
0,Economy,from INR,"53,995",,Business,from INR,"225,415",,First,from INR,"438,008",NaN
0,Economy,from INR,"53,995",,Business,from INR,"225,415",,First,from INR,"438,008",Partially available
0,Economy,from INR,"53,995",,Business,from INR,"225,415",,First,from INR,"438,008",NaN
0,Economy,from INR,"53,995",,Business,from INR,"225,415",,First,from INR,"438,008",Partially available

In [139]:
rename_cols = {
    2:"Economy_INR",
    6:"Business_INR",
    10:"First_INR",
    11:"Class_Availability"
}

In [145]:
df_flight_dtl_cost = df_flight_dtl_cost.rename(columns = rename_cols).drop([0,1,3,4,5,7,8,9], axis=1)
df_flight_dtl_cost

  Economy_INR Business_INR First_INR   Class_Availability
0      53,995      225,415   438,008                  NaN
0      53,995      225,415   438,008                  NaN
0      53,995      225,415   438,008  Partially available
0      53,995      225,415   438,008                  NaN
0      53,995      225,415   438,008  Partially available

### 3.7 Join both Dataframes

In [159]:
df_final = pd.concat([df_flight_dtl, df_flight_dtl_cost], axis=1).set_index("ID")
df_final

,Airliner1,Flight_Number1,Airliner2,Flight_Number2,Source,Departure_Time,Destination,Arrival_Time,Total_Time,Connections,Economy_INR,Business_INR,First_INR,Class_Availability
ID,,,,,,,,,,,,,,
01,B777,EK527,A380,EK047,HYD,10:00,FRA,19:30,14 hrs 0 min,1 connection,"53,995","225,415","438,008",NaN
02,B777,EK529,B777,EK043,HYD,21:20,FRA,07:35 +1,14 hrs 45 mins,1 connection,"53,995","225,415","438,008",NaN
03,B777,EK525,A380,EK047,HYD,04:10,FRA,19:30,19 hrs 50 mins,1 connection,"53,995","225,415","438,008",Partially available
04,B777,EK527,B777,EK043,HYD,10:00,FRA,07:35 +1,26 hrs 5 mins,1 connection,"53,995","225,415","438,008",NaN
05,B777,EK525,B777,EK043,HYD,04:10,FRA,07:35 +1,31 hrs 55 mins,1 connection,"53,995","225,415","438,008",Partially available

# Send Email

In [15]:
import smtplib, ssl
from email.message import EmailMessage
import datetime

In [16]:
today = datetime.datetime.today()
today_str = f"{today.day}/{today.month}/{today.year}"
today_str

'24/4/2023'

In [17]:
message = EmailMessage()
message['Subject'] = ""
message['From'] = ""
message['To'] = [""]

In [18]:
context = ssl._create_unverified_context()
message.set_content(f'')

In [19]:
csv_lists = [
    file_path + '.csv'
]

In [20]:
for file_name in csv_lists:
    with open(file_name,'rb') as f:
        file_data = f.read()
        file_name = f.name.split("/")[1]

    message.add_attachment(file_data, maintype='application', subtype='octet-stream', filename=file_name)

In [21]:
with smtplib.SMTP('', 587) as smtp:
    smtp.ehlo()
    smtp.starttls(context = context)
    smtp.ehlo()
    smtp.send_message(message)